{% extends "index.html" %} 

{% block title %}Python Apps{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://thumbs.dreamstime.com/t/study-time-text-stopwatch-study-time-text-retro-lined-paper-stopwatch-94198141.jpg" alt="">
                    <div class="intro-text">
                        <h1 class="name">Tonys frequent apps</h1>
                        <hr class="star-light">
                        <span class="skills">Efficiency!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>




            <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Simple Python Apps</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                <h1>Timer</h1>
                    <a href="/Timer" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://nocompromiseleadership.files.wordpress.com/2010/02/ticktock-1.jpg?w=655" target="_blank" class="img-responsive" alt="Cabin">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Weekly studied duration calculator</h1>
                    <a href="/Weekly studied duration calculator" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.open.ac.uk/courses/Courses/media/Courses/Landing%20Pages/Images/Finding-time-to-study-368x207.jpg?ext=.jpg" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Code screen shot profile</h1>
                    <a href="/screen_shots" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/4930/s400/python-easy-to-learn-programming-language.png"img-responsive" alt="Circus tent">
                    </a>
                </div>      
            </div>
        </div>
    </section>

         <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-light">
                </div>
            </div>
        <div class="container">                              
            <div class="row">
                <div class="col-lg-4">
                                     <div class="mx-auto">
                    <p>The languages I work with include: HTML, CSS & Python. I work with the Flask Framework for Python development. If you are a non technical person who would like control over your website then I can create a Wordpress website for you. Simplicity, creativity and clarity are the core principles behind my work.</p>
                <div class="col-lg-4">
                <div class="col-lg-4">                      
                
            
        </div>
    </section>

{% endblock%}
